---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import SliderDetails from "../components/SliderDetails.astro";
import SliderCards from "../components/SliderCards.astro";
import SliderPagination from "../components/SliderPagination.astro";
import { data } from "../data/sliderData";
---

<Layout>
  <header
    class="fixed top-0 right-0 left-0 z-50 flex items-center justify-end px-9 py-3 font-medium"
  >
    <Navbar />
  </header>

  <main id="main-content">
    <!-- Static/Dynamic Card Stack -->
    <div id="demo">
      <SliderCards data={data} />

      <SliderDetails
        description={data[0]?.description ?? ""}
        id="details-even"
        place={data[0]?.place ?? ""}
        title={data[0]?.title ?? ""}
        title2={data[0]?.title2 ?? ""}
      />

      <SliderDetails
        description={data[0]?.description ?? ""}
        id="details-odd"
        place={data[0]?.place ?? ""}
        title={data[0]?.title ?? ""}
        title2={data[0]?.title2 ?? ""}
      />

      <SliderPagination data={data} />
    </div>

    <div class="cover absolute top-0 left-0 z-100 h-screen w-screen bg-white"></div>
  </main>
</Layout>

<script src="../scripts/slider.ts"></script>

<style is:global>
  html,
  body {
    overflow: hidden;
  }
</style>
